PORT=8795
PUBLIC_BASE_URL=https://augnach-showcase.onrender.com
SHOP_BASE_URL=https://www.augnach.com
CONTACT_EMAIL=augnach@gmail.com
CUSTOM_STARTER_CHECKOUT_URL=https://www.augnach.com/shop/p/custom-design-starter
CUSTOM_STARTER_PRODUCT_SLUG=custom-design-starter
SQUARESPACE_API_KEY=
SQUARESPACE_ORDER_LOOKBACK_DAYS=30
ALLOWED_ORIGINS=https://www.augnach.com,http://localhost:8795,http://127.0.0.1:8795
MESHY_API_KEY=
MESHY_ENABLE_LIVE_CALLS=false
MESHY_DAILY_AUTOMATION_ENABLED=false
MESHY_DAILY_CREDIT_ALLOWANCE=5
AUTOMATION_SECRET=change-this-before-hosting
